@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

@font-face {
  font-family: "droid_serifbold";
  src: url("../utility/assets/droidserif-bold-webfont.woff2") format("woff2"),
    url("../utility/assets/droidserif-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "droid_serifbold_italic";
  src: url("../utility/assets/droidserif-bolditalic-webfont.woff2")
      format("woff2"),
    url("../utility/assets/droidserif-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "droid_serifitalic";
  src: url("../utility/assets/droidserif-italic-webfont.woff2") format("woff2"),
    url("../utility/assets/droidserif-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "droid_serifregular";
  src: url("../utility/assets/droidserif-regular-webfont.woff2") format("woff2"),
    url("../utility/assets/droidserif-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #fff;
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h1 {
  font-family: "Bebas Neue";
  font-size: 4rem;
}

h2 {
  font-family: "droid_serifbold";
  font-size: 2.5rem;
  color: black;
  opacity: 0.8;
}

h3 {
  font-size: 1.5rem;
}
p {
  font-family: "Montserrat";
  font-size: 1rem;
  line-height: 175%;
}

ul li {
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
}

.selected {
  color: rgba(0, 0, 0, 0.65);
}

.icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.75rem;
}

.navbar,
footer {
  font-family: "droid_serifbold";
  font-size: 1.5rem;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  overflow: hidden;
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-1000px);
  }
}

.backgroundHero {
  background-size: cover !important;
  background: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.65) 100%
    ),
    url(/sun-tornado.svg) no-repeat center scroll;
}

a.effect-box:after,
a.effect-box:before {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

.effect-box:before {
  border-left: 1px solid;
  border-right: 1px solid;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}

.effect-box:after {
  border-bottom: 1px solid;
  border-top: 1px solid;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

.effect-box:hover:after,
.effect-box:hover:before {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* effect-shine */
.effect-shine:hover {
  color: blueviolet;
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(71, 9, 9, 0.6) 30%,
    #000 50%,
    rgba(4, 12, 3, 0.6) 100%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}
